@page
@model myOnlineMart.Pages.AdminDashboardModel
@{
}



<h1>Admin Dashboard</h1>
<p>Welcome to the admin dashboard!</p>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Products</h5>
                <p class="card-text">Manage all products in the store.</p>
                <a href="~/InventoryManagement/Index" class="btn btn-primary">View Products</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Orders</h5>
                <p class="card-text">Manage customer orders.</p>
                <a href="@Url.Page("/Orders")" class="btn btn-primary">View Orders</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Customers</h5>
                <p class="card-text">Manage customer details.</p>
                <a href="@Url.Page("~/Pages/InventoryManagement/ProductManage/ProductList")" class="btn btn-primary">View Customers</a>
            </div>
        </div>
    </div>
</div>